<div class="card">
    <div class="card-header bg-dark text-light">Level 1</div>
    <div class="card-body">
        <p>Using the SportsORM, complete all the following queries and show their results on Level1.cshtml.</p>
        <ol>
            <li>...all womens' leagues</li>
            <li>...all leagues where sport is any type of hockey</li>
            <li>...all leagues where sport is something OTHER THAN football</li>
            <li>...all leagues that call themselves "conferences"</li>
            <li>...all leagues in the Atlantic region</li>
            <li>...all teams based in Dallas</li>
            <li>...all teams named the Raptors</li>
            <li>...all teams whose location includes "City"</li>
            <li>...all teams whose names begin with "T"</li>
            <li>...all teams, ordered alphabetically by location</li>
            <li>...all teams, ordered by team name in reverse alphabetical order</li>
            <li>...every player with last name "Cooper"</li>
            <li>...every player with first name "Joshua"</li>
            <li>...every player with last name "Cooper" EXCEPT those with "Joshua" as the first name</li>
            <li>...all players with first name "Alexander" OR first name "Wyatt"</li>
        </ol>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h3>#1</h3>
        <table class="table table-striped">
            <tr>
                <th>League Name</th>
                <th>League Sport</th>
            </tr>
            @foreach (var i in ViewBag.Women)
            {
                <tr>
                    <td>@i.Name</td>
                    <td>@i.Sport</td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h3>#2</h3>
        <table class="table table-striped">
            <tr>
                <th>League Name</th>
                <th>League Sport</th>
            </tr>
            @foreach (var i in ViewBag.Hockey)
            {
                <tr>
                    <td>@i.Name</td>
                    <td>@i.Sport</td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h3>#3</h3>
        <table class="table table-striped">
            <tr>
                <th>League Name</th>
                <th>League Sport</th>
            </tr>
            @foreach (var i in ViewBag.Football)
            {
                <tr>
                    <td>@i.Name</td>
                    <td>@i.Sport</td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h3>#4</h3>
        <table class="table table-striped">
            <tr>
                <th>League Name</th>
                <th>League Sport</th>
            </tr>
            @foreach (var i in ViewBag.Conference)
            {
                <tr>
                    <td>@i.Name</td>
                    <td>@i.Sport</td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h3>#5</h3>
        <table class="table table-striped">
            <tr>
                <th>League Name</th>
                <th>League Sport</th>
            </tr>
            @foreach (var i in ViewBag.Atlantic)
            {
                <tr>
                    <td>@i.Name</td>
                    <td>@i.Sport</td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h3>#6</h3>
        <table class="table table-striped">
            <tr>
                <th>Team Name</th>
                <th>Location</th>
                <th>League</th>
                <th>Sport</th>
            </tr>
            @foreach (var i in ViewBag.Dallas)
            {
                <tr>
                    <td>@i.TeamName</td>
                    <td>@i.Location</td>
                    <td>@i.CurrLeague.Name</td>
                    <td>@i.CurrLeague.Sport</td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h3>#7</h3>
        <table class="table table-striped">
            <tr>
                <th>Team Name</th>
                <th>Location</th>
                <th>League</th>
                <th>Sport</th>
            </tr>
            @foreach (var i in ViewBag.Raptors)
            {
                <tr>
                    <td>@i.TeamName</td>
                    <td>@i.Location</td>
                    <td>@i.CurrLeague.Name</td>
                    <td>@i.CurrLeague.Sport</td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h3>#8</h3>
        <table class="table table-striped">
            <tr>
                <th>Team Name</th>
                <th>Location</th>
                <th>League</th>
                <th>Sport</th>
            </tr>
            @foreach (var i in ViewBag.City)
            {
                <tr>
                    <td>@i.TeamName</td>
                    <td>@i.Location</td>
                    <td>@i.CurrLeague.Name</td>
                    <td>@i.CurrLeague.Sport</td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h3>#9</h3>
        <table class="table table-striped">
            <tr>
                <th>Team Name</th>
                <th>Location</th>
                <th>League</th>
                <th>Sport</th>
            </tr>
            @foreach (var i in ViewBag.T)
            {
                <tr>
                    <td>@i.TeamName</td>
                    <td>@i.Location</td>
                    <td>@i.CurrLeague.Name</td>
                    <td>@i.CurrLeague.Sport</td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h3>#10</h3>
        <table class="table table-striped">
            <tr>
                <th>Team Name</th>
                <th>Location</th>
                <th>League</th>
                <th>Sport</th>
            </tr>
            @foreach (var i in ViewBag.AlphaLocal)
            {
                <tr>
                    <td>@i.TeamName</td>
                    <td>@i.Location</td>
                    <td>@i.CurrLeague.Name</td>
                    <td>@i.CurrLeague.Sport</td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h3>#11</h3>
        <table class="table table-striped">
            <tr>
                <th>Team Name</th>
                <th>Location</th>
                <th>League</th>
                <th>Sport</th>
            </tr>
            @foreach (var i in ViewBag.AlphaNameReverse)
            {
                <tr>
                    <td>@i.TeamName</td>
                    <td>@i.Location</td>
                    <td>@i.CurrLeague.Name</td>
                    <td>@i.CurrLeague.Sport</td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h3>#12</h3>
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Team</th>
                <th>League</th>
                <th>Sport</th>
            </tr>
            @foreach (var i in ViewBag.Cooper)
            {
                <tr>
                    <td>@i.FirstName @i.LastName</td>
                    <td>@i.CurrentTeam.TeamName</td>
                    <td>@i.CurrentTeam.CurrLeague.Name</td>
                    <td>@i.CurrentTeam.CurrLeague.Sport</td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h3>#12</h3>
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Team</th>
                <th>League</th>
                <th>Sport</th>
            </tr>
            @foreach (var i in ViewBag.Joshua)
            {
                <tr>
                    <td>@i.FirstName @i.LastName</td>
                    <td>@i.CurrentTeam.TeamName</td>
                    <td>@i.CurrentTeam.CurrLeague.Name</td>
                    <td>@i.CurrentTeam.CurrLeague.Sport</td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h3>#14</h3>
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Team</th>
                <th>League</th>
                <th>Sport</th>
            </tr>
            @foreach (var i in ViewBag.CooperNoJoshua)
            {
                <tr>
                    <td>@i.FirstName @i.LastName</td>
                    <td>@i.CurrentTeam.TeamName</td>
                    <td>@i.CurrentTeam.CurrLeague.Name</td>
                    <td>@i.CurrentTeam.CurrLeague.Sport</td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h3>#15</h3>
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Team</th>
                <th>League</th>
                <th>Sport</th>
            </tr>
            @foreach (var i in ViewBag.AlexOrWyatt)
            {
                <tr>
                    <td>@i.FirstName @i.LastName</td>
                    <td>@i.CurrentTeam.TeamName</td>
                    <td>@i.CurrentTeam.CurrLeague.Name</td>
                    <td>@i.CurrentTeam.CurrLeague.Sport</td>
                </tr>
            }
        </table>
    </div>
</div>